<div class="column is-4">
   <div class="block homeblock">
   <h1>Metathinkr</h1>
   <h3>— a thinker🧠 on quests❔ and spinning🕷 thought💭-webs🕸. </h3>
   </br>
   
   <h1><a href="https://metathinkr.github.io/notes" target="_blank">🗒 Working Notes</a></h1>
   <p style="margin: 0;">A collection of notes (thoughts) cultivated over time, waiting to be evergreen🟢! An ever-evolving, Digital Garden! </p>
   </br>   
   
   <h1><a href="https://metathinkr.github.io/quests" target="_blank">❔ Quests</a></h1>
   <p style="margin: 0;">List of questions I am pondering about. Some answered, some unanswered.</p>
   </br>
   
   <h1><a href="mailto: metathinkr+web@gmail.com" target="_blank">📧 Contact</a></h1>
   <p style="margin: 0;">I love discussing and reflecting on how nature and things around us work. I also try to engage with people through social media. <a href="" target="_blank">Linktree</a> <a href = "mailto: metathinkr+in@gmail.com">let's talk!</a> </p>    

   <h1><a href="https://github.com/metathinkr" target="_blank">🧪 The Digital Garden</a></h1><p style="margin: 0;">I am working on improving and developing the underlying tech stack for hosting and working with just an Obsidian vault and GitHub repo. Feel free to look over the progress and reach me out to collaborate on it.</p>
   </br>   
             
   </div>
</div>